
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Inter", sans-serif;
    background-color: #111111;

}

/*navber related style start here */

.navber-container {
    width: 85%;
    margin: 2rem auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    /* background: rgb(185,185,185); */
}

.bars {
    display: block;
    color: #fff;
    position: absolute;
    top: 60px;
    right: 20px;
}

.logo {
    font-size: 1.4rem;
    color: #E6533C;
    font-weight: 800;
}

.nav-item {
    gap: 2.9rem;
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    cursor: pointer;
    color: #fff;
    border-radius: 2.8rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.5rem 0.7rem;
}


.nav-item .active {
    background: #E6533C;
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 0.7rem;
    border-radius: 2.8rem;
    border: 1px solid white;
    font-size: 1.125rem;
    border: none;
}

.bars {
    display: none;
}

.banner-container {
    width: 85%;
    margin: 1rem auto;
    height: auto;
    margin: 0 auto;
    background: linear-gradient(to bottom, #000000, #434343, #000000);
    display: flex;
    justify-content: space-between;

}

.unique-font {
    font-family: "Playwrite DK Loopet", cursive;
}

.banner-title h1 {
    color: #fff;
    font-size: 4.8rem;
    margin-bottom: 2rem;
}

.banner-title p {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.30;
    margin-bottom: 2rem;
}

.card {
    color: white;
    position: absolute;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid #fff;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    left: 975px;
    top: 550px;
    border: none;
    cursor: pointer;

}

.card-2 {
     color: white;
    position: absolute;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid #fff;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    top: 305px;
    left: 1220px; 
    border: none;
    cursor: pointer;

} 
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card h1 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    font-weight: 900;
    opacity: 0.30;

}

.card-2 h1 {
    font-size: 2.3rem;
    font-weight: 900;
    margin-bottom: 10px;
    border: none;

}

.card-2 p {
    font-size: 0.9rem;
    font-weight: 900;
    opacity: 0.30;
    text-align: center;
}
/* banner end */

/* main section related style start here */
.change-habit-container {
    width: 90%;
    margin: 3.2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    margin-top: 100px;
    margin-bottom: 140px;

}

.change-habit-title h1 {
    color: #fff;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.change-habit-title p {
    color: #fff;
    font-size: 1rem;
    opacity: 0.30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;

}

.group-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    text-align: center;
    gap: 40px;
    /* margin-bottom: 140px; */
}

.group-image img {
    border-radius: 50%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.group-image h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

.group-image p {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.30;
    margin-top: 20px;

}


/* extra run  related style here */
.extra-run-container {
    width: 90%;
    margin: 3.2rem auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    height: 370px;
    padding: 3rem 3rem;
    border-radius: 20px;
    background: rgb(34, 34, 34);

}

.extra-run-title h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #fff;
    margin-bottom: 15px;
}

.extra-run-title p {
    color: #fff;
    opacity: 0.30;
    margin-bottom: 35px;
}

.image-two img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-top: -20px;
    margin-bottom: -10px;

}

/* extra run  related end here */


/* bmi cal */
.BMi-container {
    width: 50%;
    margin: 3rem auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.BMI-headline h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 900;
}

.BMI-headline p {
    color: #ffffff;
    opacity: 0.30;
    font-size: 1rem;
    font-weight: 400;
}

/* chart list */

.chart-container {
    width: 100%;
    height: 500px;
    margin: 3rem auto;
    /* border: 2px solid red; */
    background: rgb(34, 34, 34);
    padding: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-content h1 {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 900;
    margin-bottom: 100px;
}

table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    border-collapse: collapse;
}

th,
td {
    padding: 1rem;
}

.unique {
    font-size: 1rem;
}

.ultra {
    opacity: 0.40;
}

.calculate-BMI-info h1 {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 900;
    margin-bottom: 15px;
}

.calculate-BMI-info p {
    font-size: 1rem;
    color: #fff;
    opacity: 0.30;
    margin-bottom: 35px;
}

.form input {
    padding: 1rem 2rem 1rem 2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: none;
    margin: 10px;
    color: #fff;
}

.form select {

    padding: 1rem 10rem 1rem 2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: none;
    margin: 10px;
    /* width: 00px; */
    color: #fff;
    opacity: 0.70;
    margin-bottom: 35px;

}

#btn:hover {
    background-color: #976262;
    color: #fff;
    transition: all 0.7s ease;

}

/* unique section  challenge part*/